.newsList_item {
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  min-height: 50px;
}

.newsList_link {
  font-size: 14px;
  line-height: 20px;
  color: #525252;
  font-weight: 500;
}

.newsList_wrapper {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}

.newsList_item_enter {
  opacity: 1;
  transform: translateX(0%);
}